---
import DefaultLayout from '../layouts/Default.astro';
import IndexVue from './index/index.vue';
---

<DefaultLayout title="Welcome">
  <div text-center px-4 py-10>
    <p mt-2>基础项目模板</p>

    <IndexVue client:load />
  </div>
</DefaultLayout>
